.header {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255, 255, 255, 0.151), rgba(0, 0, 0, 0.836)), url("../assets/img/j6AaDAF.jpg"); }

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.left {
  text-transform: uppercase; }

.middle {
  width: 50%; }

.items {
  padding: 30px;
  font-size: 2em; }

@media only screen and (max-width: 800px) {
  .navbar-left {
    display: none; }
  .navbar-right {
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  .navbar-item {
    margin: 0;
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 1em; }
  .slogan {
    display: none; }
  .header {
    display: none; }
  .inbetweener {
    display: none; }
  .section {
    border-top-left-radius: 0px; }
  .section-content {
    margin-top: 0.1em; }
  .navbar-top {
    display: none; }
  .images {
    width: 50%; }
  .image-row1 {
    height: 50%;
    width: 100%; }
  .navbar-item {
    margin: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  line-height: 1.5;
  margin: 0;
  overflow: hidden scroll;
  padding: 0;
  background-color: black; }

img {
  width: 100%;
  height: 100%; }

.container {
  max-width: 1200px;
  width: 95%;
  margin: auto; }
